
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
background-color:  #469165;
border: none;

border-radius: 4px;
 padding: 12px 16px;
 font-size:16px;
font-weight:600;
color: white;}

.btn-default{
  background-color:none;
border:1px solid #fdfbfb;
border-radius: 4px;
 padding: 12px 16px;
 font-size:16px;
font-weight:600;
color: rgb(0, 0, 0);
}





/*shared style*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
 
header{
  padding top:16px;
}
nav{
  width: 71%;
  max-width:1140px ;
  
  margin: 0 auto;
  display: flex;
  justify-content:space-between ;
align-items: center;
 
}

.logo
{
  width:139px;
}

nav .menu{
  display: flex;
  list-style-type:none ;
  gap:32px;
  align-items: center;

}

nav .menu a{
text-decoration:none ;

}

#hero-section{
width: 71%;
max-width: 1140px;
align-items: center;
text-align: center;
justify-content: center;
margin: 0px auto;



}


#hero-section .hero-section-main-container .button-section {
  align-items: center;
}

#hero-section {
  background-image:url(images/images/assets/hero-bg.png);
background-size: cover;
height:627px;
width:100%;
 display: flex;
  justify-content: center;
  align-items: center;
}



#hero-section .hero-section-content h1 {
   
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

#hero-section .hero-section-content h1 .head-text-color {
   
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 84px;
  color:#30B868;
  line-height: 84px;
}

/*margin: 115px 120px 179px;*/

#hero-section .hero-section-content p 
{
  font-weight: 400px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

#hero-section .hero-section-content {
    width: 1360px;
    height: 100vh;
   display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}







#third-section {
  display: flex;
  width: 1360px;
height:627px;
width: 100%;
justify-content: center;
align-items: center;
}

#third-section .picture-content {
width: 1360px;
height:627px;
width: 100%;
justify-content: center;
align-items: center;
gap:102px;
}





#third-section .picture-content h3{
    
  color: #30B868;
}
