
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
background-color:  #469165;
border: none;

border-radius: 4px;
 padding: 12px 16px;
 font-size:16px;
font-weight:600;
color: white;}



/*shared style*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
 
header{
  padding top:16px;
}
nav{
  width: 71%;
  max-width:1140px ;
  
  margin: 0 auto;
  display: flex;
  justify-content:space-between ;
align-items: center;
 
}

.logo
{
  width:139px;
}

nav .menu{
  display: flex;
  list-style-type:none ;
  gap:32px;
  align-items: center;

}

nav .menu a{
text-decoration:none ;

}

